{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Reports received{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
    <table>
    <thead>
    <tr style="font-weight: bold;">  
        <td style="width: 2em;">ID</td>
        <td style="text-align: start;">Source</td>
        <td style="width: 12em;">Created</td>
        <td style="width: 5em;">fileType</td>
        <td style="width: 4em;">Details</td>
    </tr>
    </thead>
    <tbody>
        
    {% for post in posts %}
    <tr>    
        <td>{{ post['id'] }}</td>
        <td style="text-align: start;">
            <a href="{{ post['source'] }}">
                {{ post['source'] }}
            </a>
        </td>
        <td>{{ post['created'] }}</td>
        <td>{{ post['fileType'] }}</td>
        <td>
            <a href="{{ post['id'] }}">
                {% if post['fileType'] == "text/json" %}
                    <img src="{{ url_for('static', filename='json-icon.png') }}" class="page-icon">
                {% else %}
                    <img src="{{ url_for('static', filename='xml-icon.png') }}" class="page-icon">
                {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
