{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Reports received{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('monitor.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<br>
    <table>
    <thead>
    <tr>  
        <td style="width: 2em;">ID</td>
        <td>Source</td>
        <td>Created</td>
        <td style="width: 5em;">returnCode</td>
        <td style="width: 5em;">fileType</td>
        <td>View Full</td>
    </tr>
    </thead>
    <tbody>
        
    {% for post in posts %}
    <tr>    
        <td>{{ post['id'] }}</td>
        <td>{{ post['source'] }}</td>
        <td>{{ post['created'] }}</td>
        <td>{{ post['returnCode'] }}</td>
        <td>{{ post['fileType'] }}</td>
        <td>{{ post['body'] }}</td>
    </tr>
    {% if not loop.last %}    
    {% endif %}
    {% endfor %}

    </tbody>
</table>
{% endblock %}
